/* color pallete
#F8FAFC
#BCCCDC
#9AA6B2 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
    /* padding: 0;
    margin:0;
    text-align: center; */
    background-color: #9AA6B2  ;
    font-family: "Roboto",serif;
}
body{
    padding: 0;
    margin:0;
    text-align: center;
}

.board{
    margin: 2rem 0;
    width: fit-content;
    background-color: #F8FAFC;
    display: grid;
    grid-gap: 0;
    grid-template: 50px 50px 50px 50px 50px 50px 50px 50px 50px/ 50px 50px 50px 50px 50px 50px 50px 50px 50px;
   
    border:0.1rem solid;
}
.grid{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.number-btn{
    border-style: None;
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    border-width:1px;
    background-color: #F8FAFC;
}
.number-btn:hover{
    background-color: #BCCCDC;
}
.number-btn:active{
    background-color: #a8b7c5;
}
.block{
    border:0.01rem solid #9AA6B2;
    
    
}
.block:hover{
    background-color: #D9EAFD;
}
.horizontal-line{
    border-right: 2px solid black;
}
.vertical-line{
    border-bottom: 2px solid black;
}
/* <% if (board[i][j]===null) { %>
                        
    <% } else { %>
        <div class="block" id="<%= i.toString()+j.toString() %>"><%= board[i][j] %></div>
    <% } %> */